<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinlamcs.android.restaurando" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FirstTheme.Base" >
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/app_name"
            android:theme="@style/FavoritesActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchRestaurantActivity"
            android:parentActivityName=".FavoritesActivity"
            android:theme="@style/SearchRestaurantActivityTheme">
        </activity>
    </application>

</manifest>
